{% extends 'base.html' %}
{% load static %}
{% load data_filters %}
{% block inpagecss %}
    .left-sidebar-menu{
    margin:5px;
    }
{% endblock inpagecss %}
{% block title %}
    Evidence
{% endblock title %}
{% block bodycontent %}
    {% if menu_items %}
        <div class="row align-items-start">
            <div class="col-md-2">
                <div class="left-sidebar-menu">
                <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="{% url 'assertion' %}">Assertion</a>
                                </li>
                            </ol>
                    <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="{% url 'evidence' %}">Evidence</a>
                                </li>
                            </ol>
                        </nav>
                    {% for item in menu_items %}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="{% url 'knowledge_base_slug' item.slug %}">{{ item.left_side_menu_title }}</a>
                                </li>
                            </ol>
                        </nav>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="table-responsive-md">
<h3>Coming soon</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock bodycontent %}