{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block bodycontent %}
<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>BrainyPedia</h1>
        <h4>A Large Scale Neuroscience Knowledge Graphs, Connecting the Dots...</h4>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it
            will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'knowledge_base' %}" role="button">View knowledge base &raquo;</a>
    </div>
</main>
{% endblock bodycontent %}