{% extends 'base.html' %}
{% load static %}
{% load data_filters %}
{% block inpagecss %}
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .row > * {
            padding: 1px !important;
        }

        .col-md-4, .col-md-8, .col-md-5, .col-md-7, .col-md-6 {
            display: flex;
            flex-direction: column;
        }

        .card {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-body {
            flex: 1;
        }

        .table-wrapper {
            max-height: 300px;
            overflow-y: auto;
        }

        .table thead th {
            position: sticky;
            top: 0;
            background: white;
        }
    </style>
{% endblock inpagecss %}
{% block title %}
    Knowledge Base - {{ label }}
{% endblock title %}
{% block bodycontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">{{ label }}</h5>
                    <div class="card-body">
                        <h5 class="card-title main-title">Summary</h5>
                        <div class="table-wrapper">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Local name</th>
                                    <td>{{ local_name }}</td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td>{{ category|extract_last_part }}</td>
                                </tr>
                                {% for data in fetched_data %}
                                    {% if "wasDerivedFrom" in data.property or "category" in data.property %}
                                    {% else %}
                                        <tr>
                                            <th>{{ data.property|extract_last_part|capitalize_first_letter }}</th>
                                            <td>{{ data.value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-header derived-from">Sources</h5>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">
                            A derivation is a transformation of an entity into another, an update of an entity resulting
                            in
                            a new one, or the construction of a new entity based on a pre-existing entity.

                        <p><b>List of connected sources:</b></p>
                        <div class="table-wrapper">
                            <table class="table table-borderless tablescroll">
                                <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Source Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in fetched_data %}
                                    {% if "wasDerivedFrom" in data.property %}
                                        {% if not data.value.items %}
                                            <p style="color: red">No sources available.</p>
                                        {% else %}
                                            {% for s_key, s_value in data.value.items %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'knowledge_base_single' s_key|extract_last_two_part %}?uri={{ s_key }}"
                                                           title="Click to view more details">{{ s_key|extract_last_two_part }}&nbsp;&nbsp;<svg
                                                                xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16"
                                                                fill="currentColor" class="bi bi-box-arrow-up-right"
                                                                viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a.5.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ s_value|extract_last_part }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <h5 class="card-header">Donor</h5>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">A person or organism that is the source of a biological sample for
                            scientific study. Many biological samples are generated from a single donor.</p>

                        <p><b>List of doners:</b></p>
                        {% for ind_items in matched_donor_data %}
                            {% for key, ind_value in ind_items.items %}
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th>Doner ID</th>
                                        <th>Properties</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            {{ key|extract_last_part }}

                                        </th>
                                        <td>
                                            <table class="table">
                                                <tbody>

                                                {% for prop, obj in ind_value.property|zip_lists:ind_value.object %}

                                                    <tr>

                                                            {% if prop|extract_last_part == "Label" %}
                                                                <th> Local Name</th>
                                                                 {% elif prop|extract_last_part == "Category" %}
                                                            {% else %}
                                                                <th> {{ prop|extract_last_part }}</th>
                                                            {% endif %}

                                                        </th>

                                                            {% if prop|extract_last_part == "Species" %}
                                                                <td> {{obj}}</td>
                                                                 {% elif prop|extract_last_part == "Category" %}
                                                                {% elif prop|extract_last_part == "Age  At  Death  Value" %}
                                                                <td>{{ obj|format_age }}</td>
                                                                {% elif prop|extract_last_part == "Biological  Sex" %}
                                                                <td>{{ obj|format_gender }}</td>
                                                            {% else %}
                                                                <td>{{ obj|extract_last_part }}</td>
                                                            {% endif %}

                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <h5 class="card-header">Species</h5>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text"></p>

                        <div class="table-wrapper">
                            <div class="card card-body">
                                {% for ind_items in matched_nimp_gars_data %}
                                    {% for key, ind_value in ind_items.items %}
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Species URI</th>
                                                <th>Properties</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <a href="{% url 'species_entity_card' key|extract_last_part_url_friendly %}"> {{ key|extract_last_part }}
                                                        &nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                         height="16" fill="currentColor"
                                                                         class="bi bi-box-arrow-up-right"
                                                                         viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                                        </svg>
                                                    </a>
                                                </th>
                                                <td>
                                                    <table class="table">
                                                        <tbody>

                                                        {% for prop, obj in ind_value.property|zip_lists:ind_value.object %}

                                                            <tr>

                                                                    {% if prop|extract_last_part == "Label" %}
                                                                        <th>
                                                                            Local Name
                                                                        </th>
                                                                        {% elif prop|extract_last_part == "Category" %}
                                                                    {% else %}
                                                                        <th>
                                                                        {{ prop|extract_last_part }}
                                                                         </th>
                                                                    {% endif %}



                                                                    {% if prop == "https://w3id.org/biolink/vocab/iri" %}
                                                                        <td><a href="{{ obj }}"
                                                                               target="_blank">{{ obj }}</a></td>
                                                                    {% elif prop|extract_last_part == "Category" %}
                                                                    {% else %}
                                                                        <td>{{ obj|extract_last_part }}</td>
                                                                    {% endif %}

                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Tissue Sample</h5>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">The final intact piece of tissue before cell or nuclei prep. This
                            piece of tissue will be used in dissociation and has an region of interest polygon
                            (ROI) associated with it.</p>

                        <div class="table-wrapper">
                            <div class="card card-body">
                                <table class="table table-borderless tablescroll">
                                    <thead>
                                    <tr>
                                        <th>Sample</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in tissuesample_info %}
                                        <tr>
                                            <td>
                                                <p id="tissuemodal{{ forloop.counter }}_datacls">{{ data|extract_last_two_part }}</p>
                                            </td>
                                            <td>
                                                <input type="hidden" value="{{ data }}" class="tissuemodaldata" readonly
                                                       id="tissuemodal{{ forloop.counter }}_data">
                                                <button type="button" class="btn btn-primary tissuemodalbutton"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#donorTissueModal"
                                                        id="tissuemodal{{ forloop.counter }}">
                                                    View Tissue Sample Details
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Anatomical Structure Reference Service (AnSRS) Model</h5>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">The final intact piece of tissue before cell or nuclei prep. This
                            piece of tissue will be used in dissociation and has an region of interest polygon
                            (ROI) associated with it.</p>

                        <div class="table-wrapper">
                            <div class="card card-body">
                                {% for ind_items in matched_nimp_ansrs_data %}
                                    {% for key, ind_value in ind_items.items %}
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Property</th>
                                                <th>Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>{{ key|extract_last_part }}</th>
                                                <td>
                                                    <table class="table">
                                                        <tbody>
                                                        {% for key, value in ind_value.items %}
                                                            <tr>
                                                                <th>{{ key|extract_last_part }}</th>
                                                                <td>
                                                                    {% if value|is_list %}
                                                                        {% for val in value %}
                                                                            {{ val }}<br/>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        {{ value }}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="donorTissueModal" tabindex="-1" aria-labelledby="donorTissueModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="donorTissueModalLabel">Donor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(document).ready(function () {
            initializeDonerModalButton();
            initializeTissueModalButton();
        });

        function initializeDonerModalButton() {
            $(".donermodalbutton").click(function (event) {
                event.preventDefault();
                var elementId = $(this).attr("id");
                setModalTitle("Donor", elementId);
                var dataID = elementId + "_data";
                var donorId = $("#" + dataID).val().trim();
                var dataparm = {'doner_id': donorId};
                var uri_to_call = "{% url 'get_doner_data_ajax' %}";

                fetchAndDisplayData(uri_to_call, dataparm);
            });
        }

        function initializeTissueModalButton() {
            $(".tissuemodalbutton").click(function (event) {
                event.preventDefault();
                var elementId = $(this).attr("id");
                console.log(elementId);
                setModalTitle("Tissue Sample", elementId);
                var dataID = elementId + "_data";
                var donorId = $("#" + dataID).val().trim();
                var dataparm = {'tissue_id': donorId};
                var uri_to_call = "{% url 'get_tissuesample_data_ajax' %}";

                fetchAndDisplayData(uri_to_call, dataparm);
            });
        }

        function setModalTitle(title, elementId) {
            var title = title + " | " + $("#" + elementId + "_datacls").text().trim();
            $(".modal-title").text(title);
            console.log(elementId);
        }

        function fetchAndDisplayData(uri_to_call, dataparm) {
            $.ajax({
                url: uri_to_call,
                data: dataparm,
                type: 'GET',
                async: false,
                cache: false,
                dataType: 'json',
                success: function (jsonData) {
                    console.log(jsonData["data"]);
                    updateModalBody(jsonData["data"]);
                }
            });
        }

        function updateModalBody(data) {
            $('.modal-body').empty();
            var table = $('<table class="table table-hover"></table>').appendTo('.modal-body');
            var tbody = $('<tbody></tbody>').appendTo(table);

            $.each(data, function (key, value) {
                console.log(value[0], value[1]);
                $.each(value, function (label, item) {
                    var row = $('<tr></tr>').appendTo(tbody);
                    $('<td></td>').text(label).appendTo(row);
                    $('<td></td>').text(item).appendTo(row);
                });
            });
        }
    </script>

{% endblock bodycontent %}
